.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("about.jpg");
  height: 100%;
  margin-bottom: 5%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}
#title1{
  padding-bottom: 8%;
}
.decorated{
     overflow: hidden;
     text-align: center;
     margin-top: 50px;
     font-family: 'Montserrat', sans-serif;
     font-size: 350%;
     color: white;
 }
.decorated > span{
    position: relative;
    display: inline-block;
}
.decorated > span:before, .decorated > span:after{
    content: '';
    position: absolute;
    top: 50%;
    border-bottom: 1.5px solid;
    width: 36%; /* half of limiter*/
    margin: 0 20px;
}
.decorated > span:before{
    right: 100%;
}
.decorated > span:after{
    left: 100%;
}
