.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("about.jpg");
  height: 100%;
  margin-bottom: 5%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}
#title1{
  padding-bottom: 8%;
}
.decorated{
     overflow: hidden;
     text-align: center;
     margin-top: 50px;
     font-family: 'Montserrat', sans-serif;
     font-size: 350%;
     color: white;
 }
.decorated > span{
    position: relative;
    display: inline-block;
}
.decorated > span:before, .decorated > span:after{
    content: '';
    position: absolute;
    top: 50%;
    border-bottom: 1.5px solid;
    width: 36%; /* half of limiter*/
    margin: 0 20px;
}
.decorated > span:before{
    right: 100%;
}
.decorated > span:after{
    left: 100%;
}
.container {
  display: block;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: #241663;
  border-radius: 15px;
  padding-top: 40px;
}
.profile_col {
  text-align: center;
}
.col {
  margin: 10px 0 0 5%;
}
.content{
  font-family: 'Kalam', cursive;
}
nav{
  font-family: 'Montserrat', sans-serif;
}
hr{
  margin-top: 0;
}
.profile_pic{
  position: relative;
  right: 27%;
  top: 12%;
}
.fa {
  padding: 8px;
  margin-right: 15px;
  font-size: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa:hover {
  opacity: 0.7;
}
.profile_icons {
  display: inline-block;
}
.profile_details {
  display: inline-block;
}
.fa-quote-left {
  float: left;
  margin-right: 40px;
  padding-top:25px;
  position: relative;
  bottom: 40px;
}
.fa-quote-right {
  float: right;
  margin-bottom: 40px;
}
.container #share{
  visibility: hidden;
}
.container:hover #share{
  visibility:visible;
  font-size: 25px;
}
