.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("about.jpg");
  height: 100%;
  margin-bottom: 5%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}
.navbar {
  width: 100%;
  z-index: 1000;
}
#popup-surrounding {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .6);
  z-index: 1001;
}

#popup {
  width: 50%;
  height: 60%;
  background: #FFFFFF;
  box-shadow: #64686e 0px 0px 3px 3px;
  -moz-box-shadow: #64686e 0px 0px 3px 3px;
  -webkit-box-shadow: #64686e 0px 0px 3px 3px;
  position: relative;
  top: 25%;
  left: 25%;
}
#countdown {
  font-size: 50px;
  background-color: white;
  border-radius: 10px;
}
#title1{
  padding-bottom: 8%;
}
.decorated{
     overflow: hidden;
     text-align: center;
     margin-top: 50px;
     font-family: 'Montserrat', sans-serif;
     font-size: 350%;
     color: white;
 }
.decorated > span{
    position: relative;
    display: inline-block;
}
.decorated > span:before, .decorated > span:after{
    content: '';
    position: absolute;
    top: 50%;
    border-bottom: 1.5px solid;
    width: 36%; /* half of limiter*/
    margin: 0 20px;
}
.decorated > span:before{
    right: 100%;
}
.decorated > span:after{
    left: 100%;
}
.pro {
  display: block;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: #241663;
  border-radius: 15px;
  padding-top: 40px;
}
.profile_col {
  text-align: center;
}
.col {
  margin: 10px 0 0 5%;
}
.content{
  font-family: 'Kalam', cursive;
  text-align: justify;
}
nav{
  font-family: 'Montserrat', sans-serif;
}
hr{
  margin-top: 0;
}
.profile_pic{
  position: relative;
  right: 27%;
  top: 12%;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container {
  padding: 2px 16px;
}
.skills{
  display: inline-block;
  width: 125px;
  height: 125px;
  margin: 0px;
}
.fa {
  padding: 8px;
  margin-right: 15px;
  font-size: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa:hover {
  opacity: 0.7;
}
.profile_icons {
  display: inline-block;
}
.profile_details {
  display: inline-block;
}
.fa-quote-left {
  float: left;
  margin-right: 40px;
  padding-top:25px;
  position: relative;
  bottom: 40px;
}
.fa-quote-right {
  float: right;
  margin-bottom: 40px;
}
.container #share{
  visibility: hidden;
}
.container:hover #share{
  visibility:visible;
  font-size: 25px;
}
